@import "../cssControl/control";

/*测试*/
section {
  -webkit-overflow-scrolling: touch; /* ios5+ */
}

/*主页头部*/
.index-header-box {
  width: 100%;
  height: 149/@rem;
}
.index-header{
  width: 100%;
  height: 149/@rem;
  position: fixed;
  top: 0;
  left: 0;
  padding: 45/@rem 47/@rem;
  background-color: @block-bg;
  z-index: 999;
  .position{
    em{
      margin-left: 17/@rem;
      float: left;
      font-style: normal;
      .title();
    }
    .icon-position{
      margin-top: 10/@rem;
      float: left;
      display: inline-block;
      .icon(19/@rem, 29/@rem, "../images/icon/icon-position.svg");
    }
  }
  .head-multi{
    .head-multi-item{
      a{
        display: block;
      }
      float: left;
      font-size: 20/@rem;
      text-align: center;
      .icon-weChat-sao{
        display: block;
        margin: 0 auto 15/@rem auto;
        width: 39/@rem;
        height: 38/@rem;
        .icon(39/@rem, 38/@rem, "../images/icon/icon-weChat-sao.svg");
      }
      .icon-steward-tel{
        display: block;
        margin: 0 auto 15/@rem auto;
        width: 33/@rem;
        height: 38/@rem;
        .icon(33/@rem, 38/@rem, "../images/icon/icon-tel.svg");
      }
    }
  }
}

/*功能列表*/
.multi-item-icon(@url){
  display: block;
  margin: 0 auto 22/@rem auto;
  .icon(102/@rem, 102/@rem, @url);
}
.multi-list{
  background-color: @block-bg;
  padding: 20/@rem 0 60/@rem 0;
  .multi-item{
    a{
      display: block;
      width: 102/@rem;
      margin: 0 auto;
      p{
        font-size: 20/@rem;
      }
    }
    width: 25%;
    text-align: center;
    float: left;
    margin: 30/@rem 0;
    .icon-payment{
      .multi-item-icon("../images/icon/icon-shuidi.svg");
    }
    .icon-service{
      .multi-item-icon("../images/icon/icon-man.svg");
    }
    .icon-property{
      .multi-item-icon("../images/icon/icon-money.svg");
    }
    .icon-repair{
      .multi-item-icon("../images/icon/icon-repair.svg");
    }
    .icon-complaint{
      .multi-item-icon("../images/icon/icon-complaint.svg");
    }
    .icon-intelligence{
      .multi-item-icon("../images/icon/icon-intelligence.svg");
    }
    .icon-carwash{
      .multi-item-icon("../images/icon/icon-carwash.svg");
    }
    .icon-laundry{
      .multi-item-icon("../images/icon/icon-laundry.svg");
    }
  }
}

/*广告位*/
.advert{
  margin: 24/@rem 0;
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 300/@rem;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  img {
    width: 100%;
  }
}
/*小区消息滚动提示*/

.info-estate{
  .public-bg;
  width: 100%;
  overflow: hidden;
  padding: 25/@rem 47/@rem;
  .flex;
  align-items: center;
  .icon-tips {
    width: 30/@rem;
    height: 31/@rem;
    background: url("../images/icon/icon-bell.svg") no-repeat;
    background-size: 100% 100%;
  }
  .tips{
    margin-left: 50/@rem;
    font-size: 24/@rem;
    color: #464646;
  }
  .time{
    .sub-title();
  }
}

.rowup {
  width: 100%;
  height: 48/@rem;
  line-height: 48/@rem;
  margin-left: 21/@rem;
  overflow: hidden;
  position: relative;
}
.rowup-list{
  position: absolute;
  width: 100%;
  height: 48/@rem;
  line-height: 48/@rem;
  overflow: hidden;
  font-size: 15px;
  z-index:1;
  .rowup-item {
    width: 605/@rem;
    float: left;
    .flex;
    justify-content: space-between;
  }

}


/*附近商铺*/
.shops{
  margin-top: 24/@rem;
  //padding: 27/@rem 48/@rem 0 48/@rem;
  //background-color: @block-bg;
  margin-bottom: 128/@rem;
  .title{
    padding: 27/@rem 48/@rem 0 48/@rem;
    .public-bg;
    span{
      float: left;
      .title();
    }

    em{
      margin-top: 10/@rem;
      float: left;
      font-style: normal;
      font-size: 20/@rem;
      i{
        margin: 0 14/@rem;
      }
    }
  }
}

.shop-loading {
  margin: 10/@rem 0;
  text-align: center;
  font-size: 28/@rem;
}
.shop-list{

  .shops-item{
    .public-bg;
    padding: 24/@rem 48/@rem;
    position: relative;
    display: box;
    display: -webkit-box;
    display: -ms-flexbox;
    box-orient: horizontal;
    border-bottom: 1/@rem solid #e4e4e4;
    &:last-child {
      border-bottom: none;
    }
  }
  .shop-img{
    width: 168/@rem;
    height: 128/@rem;

    //TODO 商铺图片临时样式
    background-color: #bbbbbb;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .shop-info{
    margin-left: 16/@rem;
  }
}

.shop-info{
  -webkit-box-flex: 1;
  box-flex: 1;
  .shop-title{
    font-size: 24/@rem;
    font-weight: bold;
    color: #464646;
  }
  .shop-tips{
    color: #7b7b7b;
  }
  .shop-rank{
    .star{
      display: inline-block;
      width: 16/@rem;
      height: 15/@rem;
    }
    .star-solid{
      background: url("../images/icon/star-solid.svg") no-repeat;
      background-size: 100% auto;
    }
    .star-empty{
      background: url("../images/icon/star-empty.svg") no-repeat;
      background-size: 100% auto;
    }
    .star-half{
      background: url("../images/icon/star-half.svg") no-repeat;
      background-size: 100% auto;
    }
  }
  .message{
    margin-top: 12/@rem;
    display: block;
    .coupon-tag{
      display: inline-block;
      width: 27/@rem;
      height: 27/@rem;
      line-height: 27/@rem;
      text-align: center;
      font-style: normal;
      color: #fff;
      font-size: 18/@rem;
      background-color: #ff635b;
    }
    .coupon-info{
      margin-left: 8/@rem;
      color: #9f9f9f;
    }
    .popularity{
      .popularity-tag{
        display: inline-block;
        width: 16/@rem;
        height: 15/@rem;
        background: url("../images/icon/popularity-tag.svg") no-repeat;
        background-size: 100% auto;
      }
      .popularity-info{
        color: #9f9f9f;
      }
    }
  }
}

