@import "../cssControl/control";

/*测试*/
section {
  -webkit-overflow-scrolling: touch; /* ios5+ */
}

/*icon*/
.icon-tips {
  display: block;
  .icon(25/@rem, 25/@rem, "../images/icon/icon-tips.svg");
}

.icon-tp {
  display: block;
  .icon(44/@rem, 25/@rem, "../images/icon/icon-tp.svg");
}

#container {
  position: absolute;
  z-index: 1;
  top: 90/@rem;
  bottom: 120/@rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/*主页头部*/
.index-header-box {
  width: 100%;
  height: 90/@rem;
}
.index-header{
  width: 100%;
  height: 90/@rem;
  position: fixed;
  top: 0;
  left: 0;
  padding: 22/@rem 39/@rem;
  background-color: @block-bg;
  z-index: 999;
  .position{
    em{
      margin-left: 17/@rem;
      float: left;
      font-style: normal;
      .title();
    }
    .icon-position{
      margin-top: 10/@rem;
      float: left;
      display: inline-block;
      .icon(19/@rem, 29/@rem, "../images/icon/icon-position.svg");
    }
  }
  .head-multi{
    margin-top: -9/@rem;
    .head-multi-item{
      a{
        display: block;
      }
      float: left;
      font-size: 20/@rem;
      text-align: center;
      .icon-weChat-sao{
        display: block;
        margin: 0 auto 4/@rem auto;
        width: 39/@rem;
        height: 38/@rem;
        .icon(39/@rem, 38/@rem, "../images/icon/icon-weChat-sao.svg");
      }
      .icon-steward-tel{
        display: block;
        margin: 0 auto 4/@rem auto;
        width: 33/@rem;
        height: 38/@rem;
        .icon(33/@rem, 38/@rem, "../images/icon/icon-tel.svg");
      }
    }
  }
}

.block-slide {
  .slide {
    position: relative;
    img {
      width: 100%;
    }
    .btn-group {
      position: absolute;
      right: 28/@rem;
      bottom: 11/@rem;
      .flex;
      align-items: center;
      .btn-item {
        .flex;
        align-items: center;
        &:last-child {
          margin-left: 26/@rem;
        }
      }
      span {
        margin-left: 6/@rem;
        font-size: 20/@rem;
        color: #464646;
      }
    }
  }

  .swiper-container {
    width: 100%;
    height: 290/@rem;
  }

  .swiper-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    width: 100%;
    height: 290/@rem;
  }
}

/*功能列表*/
.multi-item-icon(@url){
  display: block;
  margin: 0 auto 22/@rem auto;
  .icon(102/@rem, 102/@rem, @url);
}
.multi-list{
  background-color: @block-bg;
  padding: 20/@rem 0 20/@rem 0;
  .multi-item{
    a{
      display: block;
      width: 102/@rem;
      margin: 0 auto;
      p{
        font-size: 24/@rem;
      }
    }
    width: 25%;
    text-align: center;
    float: left;
    margin: 30/@rem 0;
    .icon-payment{
      .multi-item-icon("../images/icon/icon-payment.svg");
    }
    .icon-husbandry {
      .multi-item-icon("../images/icon/icon-man.svg");
    }
    .icon-RentOrSale {
      .multi-item-icon("../images/icon/icon-RentOrSale.svg");
    }
    .icon-repair{
      .multi-item-icon("../images/icon/icon-repair.svg");
    }
    .icon-complaint{
      .multi-item-icon("../images/icon/icon-complaint.svg");
    }
    .icon-intelligence{
      .multi-item-icon("../images/icon/icon-intelligence.svg");
    }
    .icon-carwash{
      .multi-item-icon("../images/icon/icon-carwash.svg");
    }
    .icon-openDoor {
      .multi-item-icon("../images/icon/icon-openDoor.svg");
    }
  }
}

/*小区消息滚动提示*/

.info-estate{
  position: relative;
  .public-bg;
  width: 100%;
  overflow: hidden;
  padding: 25/@rem 47/@rem;
  .flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1/@rem solid #bbbbbb;
  .icon-link-right {
    position: absolute;
    display: block;
    width: 9/@rem;
    height: 17/@rem;
    background: url("../images/icon/icon-right.svg") no-repeat;
    background-size: 100% 100%;
    top: 38/@rem;
    right: 40/@rem;
  }
  .tips-title {
    .flex;
    align-items: center;
    justify-content: center;
    width: 61/@rem;
    height: 31/@rem;
    text-align: center;
    line-height: 31/@rem;
    color: #fff;
    font-size: 20/@rem;
    background-color: #fd4915;
    border-radius: 5/@rem;
  }
}

.rowup {
  width: 100%;
  height: 48/@rem;
  line-height: 48/@rem;
  margin-left: 21/@rem;
  overflow: hidden;
  position: relative;
}
.rowup-list{
  position: absolute;
  width: 100%;
  height: 48/@rem;
  overflow: hidden;
  font-size: 15px;
  z-index:1;
  .rowup-item {
    width: 564/@rem;
    .flex;
    justify-content: space-between;
    align-items: center;
    a {
      width: 100%;
      color: #0B8E00;
      .flex;
      justify-content: space-between;
    }
    .tips {
      font-size: 24/@rem;
      color: #464646;
    }
    .time {
      .sub-title();
    }
  }
}

.hot {
  margin-top: 20/@rem;
  background-color: #fff;
  padding-bottom: 50/@rem;
  .hot_title {
    width: 100%;
    height: 1.3rem;
    background: url(../images/img/shop-title.png) no-repeat center center;
    background-size: auto 100%;
  }
  .hot_list {
    padding: 0 38/@rem;
    .hot_item {
      margin-top: 30/@rem;
      width: 680/@rem;
      height: 350/@rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}



