@import "../cssControl/control";

.unpaid {
  width: 100%;
  height: 302/@rem;
  background: url("../images/img/zdbj.png") no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding: 66/@rem 0;
  color: #fff;
  .title {
    font-size: 22/@rem;
    font-weight: normal;
  }
  .money {
    margin-top: 10/@rem;
    font-size: 64/@rem;
  }
  .roomnum {
    margin-top: 10/@rem;
    font-size: 26/@rem;
  }
}

.arrears {
  width: 100%;
  height: 120/@rem;
  .arrears-box {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120/@rem;
    background-color: #fd4915;
    a {
      line-height: 120/@rem;
      display: block;
      text-align: center;
      font-size: 35/@rem;
      color: #ffffff;
    }
  }
}

/*我的积分、我的余额*/
.top-total {
  .public-bg;
  width: 100%;
  padding: 42/@rem 0;
  text-align: center;
  .total-title {
    font-size: 24/@rem;
    color: #464646;
  }
  .total-num {
    font-size: 64/@rem;
    color: #fd4915;
    font-weight: normal;
  }
  .btn-recharge {
    margin: 0 auto;
    display: block;
    width: 560/@rem;
    height: 80/@rem;
    line-height: 80/@rem;
    border-radius: 100/@rem;
    background-color: #ffffff;
    border: solid 1/@rem #fd4915;
    font-size: 30/@rem;
    color: #fd4915;
  }
}

.total-detailed {
  min-height: 740/@rem;
  margin-top: 24/@rem;
  .public-bg;
  .detailed-item {
    padding: 0 48px;
    width: 100%;
    height: 138/@rem;
    border-bottom: 1/@rem solid #e4e4e4;
    .flex;
    align-items: center;
    .detailed-info {
      flex: 1;
      .info {
        font-size: 28/@rem;
        color: #464646;
      }
      .date {
        margin-top: 7/@rem;
        font-size: 20/@rem;
        color: #7b7b7b;
      }
    }
    .detailed-val {
      font-size: 34/@rem;
      &.add {
        color: #fd4915;
      }
      &.reduce {
        color: #7b7b7b;
      }
    }
  }
}

/*累计收益*/
.benefit {
  padding-top: 57/@rem;
  .public-bg;
  min-height: 948/@rem;
  .accumulated {
    margin: 0 auto;
    padding: 19/@rem;
    width: 396/@rem;
    height: 396/@rem;
    border-radius: 50%;
    background-color: #f3f3f3;
    .accumulated-bg {
      padding: 22/@rem;
      margin: 0 auto;
      width: 358/@rem;
      height: 358/@rem;
      border-radius: 50%;
      background-image: linear-gradient(to bottom, #ffce18, #f8630f);
      .accumulated-info {
        padding: 102/@rem 0;
        margin: 0 auto;
        text-align: center;
        width: 314/@rem;
        height: 314/@rem;
        border-radius: 50%;
        background-color: #fff;
        .accumulated-title {
          font-size: 24/@rem;
          color: #7b7b7b;
        }
        .accumulated-num {
          font-size: 64/@rem;
          color: #464646;
        }
      }
    }
  }
  .accumulated-list {
    margin-top: 18/@rem;
    .accumulated-item {
      padding: 0 48/@rem;
      width: 100%;
      height: 98/@rem;
      border-bottom: 1/@rem solid #e4e4e4;
      .flex;
      align-items: center;
      .date {
        flex: 1;
        font-size: 28/@rem;
        color: #7b7b7b;
      }
      .accumulated-val {
        font-size: 34/@rem;
        color: #fd4915;
      }
    }
  }
}

/*我的TB*/
.myTB {
  .top-total {
    width: 100%;
    height: 325/@rem;
    background: url("../images/img/TB_bg.png") no-repeat;
    background-size: 100% 100%;
    .flex;
    align-items: center;
    .flex-total {
      flex: 1;
      text-align: center;
      .title-box {
        display: block;
        .flex;
        align-items: center;
        justify-content: center;
        .icon-TB {
          flex: 0 0 30/@rem;
          width: 30/@rem;
          height: 30/@rem;
          background: url("../images/icon/icon-TB.svg") no-repeat;
          background-size: 100% 100%;
        }
        .icon-accumulated {
          flex: 0 0 37/@rem;
          width: 37/@rem;
          height: 27/@rem;
          background: url("../images/icon/icon-accumulated.svg") no-repeat;
          background-size: 100% 100%;
        }
        .title {
          margin-left: 10/@rem;
          font-size: 30/@rem;
          color: #ffffff;
        }
      }
      .num {
        font-size: 52/@rem;
        color: #ffffff;
      }
    }
    .vertical-line {
      flex: 0 0 3/@rem;
      width: 3/@rem;
      height: 198/@rem;
      background-color: #fff;
    }
  }
  .table {
    min-height: 883/@rem;
    .public-bg;
    .table-tr {
      width: 100%;
      height: 98/@rem;
      padding: 0 45/@rem;
      .flex;
      align-items: center;
      border-bottom: 1/@rem solid #e4e4e4;
    }
    .table-td {
      position: relative;
      text-align: center;
      flex: 1;
      font-size: 28/@rem;
      color: #7b7b7b;
      .explain {
        margin: 0 auto;
        width: 2rem;
        font-size: 20/@rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .tag-box {
        display: none;
        height: 1.3rem;
        position: absolute;
        top: -1.2rem;
        right: 0;
        overflow: hidden;
      }
      .tag {
        display: block;
        padding: 0 .1rem;
        min-width: 4rem;
        max-width: 10rem;
        height: 1rem;
        line-height: 1rem;
        border: .05rem solid #fd4915;
        border-radius: .1rem;
        position: relative;

        background-color: #FFF;
        em {
          display: block;
          border-width: .31rem;
          position: absolute;
          bottom: -0.64rem;
          right: 1.34rem;
          border-style: solid dashed dashed;
          border-color: #fd4915 transparent transparent;
          font-size: 0;
          line-height: 0;
        }
        span {
          display: block;
          border-width: .31rem;
          position: absolute;
          bottom: -0.56rem;
          right: 1.33rem;
          border-style: solid dashed dashed;
          border-color: #FFF transparent transparent;
          font-size: 0;
          line-height: 0;
        }
      }
    }
    .table-thead {
      .table-tr {
        height: 100/@rem;
      }
      .table-th {
        text-align: center;
        flex: 1;
        font-size: 30/@rem;
        color: #464646;
      }
    }
    .add {
      color: #fd4915;
    }
    .reduce {
      color: #7b7b7b;
    }
  }
}

/*预交停车费*/
.advance {
  min-height: 948/@rem;
  .bill-not {
    max-height: 544/@rem;
  }

  .count {
    margin-top: 29/@rem;
    .flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    p {
      padding: 0 48/@rem;
      flex: 0 100%;
      text-align: right;
      font-size: 30/@rem;
      color: #7b7b7b;
      &:last-child {
        color: #fd4915;
      }
    }
    .count-TB {
      color: #fd4915;
    }
    span {
      margin-left: 22/@rem;
      font-size: 40/@rem;
      color: #464646;
    }
  }
  .btn-block {
    margin-top: 86/@rem;
    text-align: center;
    .btn-pay {
      margin: 0 auto;
      width: 560/@rem;
      height: 80/@rem;
      border-radius: 100/@rem;
      background-color: #ffffff;
      border: solid 1/@rem #fd4915;
      font-size: 30/@rem;
      color: #fd4915;
    }
  }
}

.title-box {
  position: relative;
}

.tp_qaq {
  position: absolute;
  top: 0;
  left: 270/@rem;
  display: block;
  width: .5rem;
  height: .5rem;
  background: url("../images/icon/icon-qaq.svg") no-repeat;
  background-size: 100% 100%;
}
