/*路径定义*/
/*单位计算*/
/*网站总宽*/
.main-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/*网站主色*/
/*网站背景色*/
/*标题颜色*/
/*字体颜色*/
/*提示颜色*/
/*失效颜色*/
/*宽高*/
/*
文字阴影,可以指定多组阴影
@right_left1 右边阴影为正数 左边负数
@bottom_top1 下边阴影为正数 上边负数
<a href="http://my.oschina.net/text" class="referer" target="_blank">@text</a>  阴影大小
@text_color 阴影颜色
*/
/*
定义圆角
@radius 圆角大小
*/
/*flex*/
/*主轴方向
@new:默认水平row
(row | column)
@old:默认水平horizontal
(horizontal | vertical)
*/
/*对齐方式
@new:新版本参数space-between
（flex-start：左对齐 | flex-end：右对齐 | center：居中对齐 | space-between：两端对齐 | space-around：相等间隔）
@old:旧版本参数justify
（start | end | center | justify）
*/
/*是否换行
@fw:默认不换行（参数：nowrap，wrap）
*/
/*项目对齐
@ai：默认中点对齐
（flex-start：起点对齐 | flex-end：终点对齐 | center；中点对齐 | baseline：文字的基线对齐 | stretch：占满整个容器的高度）
*/
/*单个对齐不一致
@as:默认auto
（auto：继承父元素 |flex-start：起点对齐 | flex-end：终点对齐 | center；中点对齐 | baseline：文字的基线对齐 | stretch：占满整个容器的高度）
*/
/*省略号
@line:多行省略（行数）
*/
/*单行省略*/
.ellipsis-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*transition*/
/*
透明度 或渐变 1为不透明 0透明
css3 rgba(110, 142, 185, .4)!important;前三个是颜色值 后一个是透明值
用来兼容所有浏览器
*/
/*
透明背景
@bg:背景色
*/
/*
渐变背景：
@color-from：起始颜色
@@color-to：终止颜色
*/
/*btn effect*/
/*图标*/
/*标题*/
/*公共背景*/
.public-bg {
  background-color: #fff;
}
.container {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 2.46rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
/*商城首页头部*/
.search-bar {
  width: 7.4rem;
  margin-top: 0.36rem;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -3.7rem;
  border-radius: 1rem;
}
.search-bar .search-box {
  width: 7.4rem;
  display: block;
  text-align: center;
  padding: 0 0.6rem;
  height: 1.36rem;
  line-height: 1.36rem;
  font-size: 0.48rem;
  color: #fff;
  border-radius: 1rem;
  background-color: rgba(123, 123, 123, 0.6);
  background-size: 0.5rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-bar .icon-search {
  margin-right: 0.24rem;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background: url("../images/icon/icon-search-wihte.svg") no-repeat;
  background-size: 100% 100%;
}
/*搜索条*/
.header-box .search {
  display: block;
  margin: 0.4rem auto;
  padding-left: 1.08rem;
  width: 10.2rem;
  height: 1.36rem;
  line-height: 1.36rem;
  border-radius: 0.16rem;
  background: #ffffff url("../images/icon/icon-search.svg") no-repeat 0.4rem center;
  background-size: 0.5rem 0.5rem;
  border: solid 0.02rem #bbbbbb;
  font-size: 0.48rem;
  color: #464646;
}
/*商品条件筛选*/
.screen-box {
  width: 100%;
  height: 1.84rem;
}
.screen-box .screen {
  width: 100%;
  height: 1.84rem;
  position: fixed;
  padding: 0 0.92rem;
  border-bottom: 0.02rem solid #bbbbbb;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}
.screen-box .screen-item {
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0 0.4rem;
  font-size: 0.56rem;
  width: 50%;
  height: 1.84rem;
  line-height: 1.84rem;
  color: #464646;
}
.screen-box .screen-item:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 0.14rem solid transparent;
  border-right: 0.14rem solid transparent;
  border-bottom: 0.3rem solid #bbbbbb;
  position: absolute;
  top: 0.76rem;
  left: 4rem;
  margin-top: -0.14rem;
}
.screen-box .screen-item:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 0.14rem solid transparent;
  border-right: 0.14rem solid transparent;
  border-top: 0.3rem solid #bbbbbb;
  position: absolute;
  top: 1.16rem;
  left: 4rem;
  margin-top: -0.14rem;
}
.screen-box .screen-item.active {
  color: #fd4915;
}
.screen-box .screen-item.active.desc:after {
  border-bottom: 0.3rem solid #fd4915;
}
.screen-box .screen-item.active.asc:before {
  border-top: 0.3rem solid #fd4915;
}
/*商品列表*/
.shops {
  margin-top: 0.5rem;
}
/*附近商铺*/
.shop-loading {
  margin: 0.2rem 0;
  text-align: center;
  font-size: 0.56rem;
}
.goods-list {
  background: #fff;
}
.goods-list .goods-item {
  position: relative;
  display: block;
  padding: 0.2rem 0.3rem;
  border-bottom: 0.02rem solid #bbbbbb;
}
.goods-list .goods-item .number {
  display: none;
}
.goods-list .goods-img {
  background: #fff;
  width: 5.1rem;
  height: 4.7rem;
  line-height: 5rem;
  float: left;
  overflow: hidden;
}
.goods-list .goods-img img {
  width: 100%;
}
.goods-list .goods-info {
  width: 8.2rem;
  float: right;
  padding: 0.4rem 0;
  margin-left: 0.52rem;
}
.goods-list .goods-info .goods-name {
  margin-top: 0.2rem;
  height: 1.4rem;
  font-size: 0.5rem;
  color: #464646;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.goods-list .goods-info .price-box {
  width: 100%;
  margin-top: 0.72rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.goods-list .goods-info .price-box .price-tp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 42%;
}
.goods-list .goods-info .price-box .price-tp .icon-tp {
  margin-top: 0.24rem;
}
.goods-list .goods-info .price-box .price-tp .tp {
  margin-left: 0.1rem;
  font-size: 0.6rem;
  color: #fd4915;
}
.goods-list .goods-info .price-box .price-rmb {
  width: 45%;
  margin-top: 0.16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.goods-list .goods-info .price-box .price-rmb .icon-rmb {
  margin-top: 0.12rem;
  font-size: 0.4rem;
  color: #464646;
}
.goods-list .goods-info .price-box .price-rmb .rmb {
  font-size: 0.4rem;
  color: #464646;
}
.goods-list .goods-info .price-box .price-rmb .util {
  font-size: 0.4rem;
  margin-left: 0.1rem;
}
.goods-list .goods-info .discount-box {
  margin-top: 0.22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.goods-list .goods-info .discount-box .discount-full {
  min-width: 2.14rem;
  height: 0.54rem;
  padding: 0 0.18rem;
  border-radius: 0.1rem;
  background-color: #fd4915;
  line-height: 0.52rem;
  text-align: center;
  font-size: 0.36rem;
  color: #fff;
}
.goods-list .goods-info .discount-box .discount-fracture {
  margin-left: 0.2rem;
  min-width: 2.14rem;
  height: 0.54rem;
  padding: 0 0.18rem;
  border-radius: 0.1rem;
  border: solid 0.02rem #fd4915;
  line-height: 0.52rem;
  text-align: center;
  font-size: 0.36rem;
  color: #fd4915;
}
/*遮罩层*/
.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(70, 70, 70, 0.72);
  transition: All 2s ease-in-out;
  -webkit-transition: All 2s ease-in-out;
  -moz-transition: All 2s ease-in-out;
  -o-transition: All 2s ease-in-out;
}
.price-range {
  border-top: 0.04rem solid #f4f4f4;
  display: none;
  width: 100%;
  height: 8.16rem;
  background-color: #fff;
  position: fixed;
  top: 4rem;
  left: 0;
  z-index: 9999;
}
.price-range .range-list .range-item {
  padding-left: 0.8rem;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 0.02rem solid #f4f4f4;
}
.price-range .range-list .range-item a {
  display: block;
  font-size: 0.48rem;
  color: #7b7b7b;
}
.price-range .range-list .range-item.at a {
  color: #fd4915;
}
/*商品列表筛选层*/
.filtrate {
  border-top: 0.04rem solid #f4f4f4;
  display: none;
  width: 100%;
  height: 5.64rem;
  background-color: #fff;
  position: fixed;
  top: 4rem;
  left: 0;
  z-index: 9999;
}
.filtrate .fil-item {
  margin-top: 0.48rem;
  padding: 0 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.48rem;
  color: #7b7b7b;
}
.filtrate .fil-item .fil-type {
  width: 1.92rem;
}
.filtrate .fil-item input {
  width: 5.16rem;
  height: 1.1rem;
  padding: 0 0.4rem;
  border: solid 0.02rem #bbbbbb;
}
.filtrate .fil-item .mprice {
  margin: 0 0.2rem;
}
.filtrate .fil-item .bprice {
  margin-left: 0.2rem;
}
.filtrate .fil-tb .fil-type {
  color: #fd4915;
}
.filtrate .btn-group {
  margin-top: 0.64rem;
  border: 0.02rem solid #bbbbbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.filtrate .btn-group a {
  width: 50%;
  height: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  font-size: 0.48rem;
  color: #fd4915;
}
.filtrate .btn-group a:first-child {
  border-right: 0.02rem solid #bbbbbb;
  color: #7b7b7b;
}
.widgets-cover {
  --origin-safe-area-inset-bottom: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .3s 80ms;
  transition: opacity .3s 80ms;
  will-change: opacity;
  bottom: constant(safe-area-inset-bottom);
  left: constant(safe-area-inset-left);
  right: constant(safe-area-inset-right);
  --safe-area-inset-bottom: var(--windvane-safe-area-inset-bottom, var(--origin-safe-area-inset-bottom));
  bottom: var(--safe-area-inset-bottom);
}
.widgets-cover .cover-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.widgets-cover .cover-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 26%;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.25, 1) 80ms;
  transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.25, 1) 80ms;
  transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1) 80ms;
  transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1) 80ms, -webkit-transform 0.3s cubic-bezier(0, 0, 0.25, 1) 80ms;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  will-change: transform;
}
.widgets-cover.show {
  pointer-events: auto;
  opacity: 1;
}
.widgets-cover.show .cover-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
.widgets-cover.show .cover-content {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sku-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sku-wrap .header {
  position: relative;
  padding: 0.8rem 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sku-wrap .header .img-wrap {
  width: 4rem;
  height: 4rem;
  border-radius: 0.08rem;
  overflow: hidden;
  border: 0.02rem solid rgba(0, 0, 0, 0.1);
  padding: 0.02rem;
  background-color: #fff;
}
.sku-wrap .header .img-wrap img {
  width: 100%;
  height: 100%;
}
.sku-wrap .header .main {
  margin-left: 0.8rem;
  width: 8.6rem;
}
.sku-wrap .header .main .sku-info span {
  margin-right: 0.1rem;
}
.sku-wrap .header .main .price-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sku-wrap .header .main .price-group .price-rmb {
  font-size: 0.48rem;
  color: #464646;
}
.sku-wrap .header .main .price-group .price-rmb .rmb {
  font-size: 0.6rem;
}
.sku-wrap .header .main .price-group .price-tb {
  font-size: 0.6rem;
  color: #fd4915;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sku-wrap .header .main .price-group .price-tb .icon-tb {
  display: block;
  width: 0.56rem;
  height: 0.56rem;
  background: url("../images/icon/icon-tb-square.svg") no-repeat;
  background-size: 100% 100%;
  margin-right: 0.2rem;
}
.sku-wrap .header .main .stock {
  margin: 0.64rem 0;
  font-size: 0.44rem;
  color: #9f9f9f;
}
.sku-wrap .header .main .sku-info {
  font-size: 0.48rem;
  color: #464646;
}
.sku-wrap .body {
  padding: 0 0.8rem;
  position: absolute;
  bottom: 2rem;
  top: 5.68rem;
  left: 0;
  right: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.sku-wrap .body .sku-list-wrap {
  border-top: 0.02rem solid #bbbbbb;
  border-bottom: 0.02rem solid #bbbbbb;
}
.sku-wrap .body .sku-list-wrap li {
  border-bottom: 0.02rem solid #bbbbbb;
}
.sku-wrap .body .sku-list-wrap .items a {
  display: inline-block;
  border: 0.02rem solid #f5f5f5;
  background-color: #f5f5f5;
  padding: 0.24rem 0.64rem;
  border-radius: 0.6rem;
  font-size: 0.48rem;
  margin: 0 0.28rem 0.4rem 0;
  color: #555;
}
.sku-wrap .body .sku-list-wrap .items a.checked {
  background-color: #fd4915;
  color: #fff;
}
.sku-wrap .body h2 {
  font-size: 0.56rem;
  color: #464646;
  font-weight: normal;
  padding: 0.4rem 0;
}
.sku-wrap .footer {
  height: 1.72rem;
  color: #FFF;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sku-wrap .footer .confirm {
  width: 100%;
  height: 1.72rem;
  line-height: 1.72rem;
  text-align: center;
  font-size: 0.6rem;
  background-color: #fd4915;
  color: #fff;
}
.sku-wrap .footer .cart {
  width: 50%;
  height: 1.72rem;
  line-height: 1.72rem;
  text-align: center;
  font-size: 0.6rem;
  border-right: 0.02rem solid #bbbbbb;
}
.sku-wrap .footer .buy {
  width: 50%;
  height: 1.72rem;
  line-height: 1.72rem;
  text-align: center;
  font-size: 0.6rem;
  background-color: #fd4915;
  color: #fff;
}
.number-wrap .number-line {
  padding: 0.8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.number-wrap label {
  font-size: 0.56rem;
  color: #464646;
}
.number-wrap .number {
  height: 1rem;
  width: 4.36rem;
  overflow: hidden;
  border-radius: 0.16rem;
  border: 0.02rem solid #bbbbbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.number-wrap .number .num {
  height: 0.96rem;
  width: 2.2rem;
  line-height: 0.96rem;
  border-left: 0.02rem solid #bbbbbb;
  border-right: 0.02rem solid #bbbbbb;
  text-align: center;
  font-size: 0.4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 0;
}
.number-wrap .number button {
  outline: 0;
  height: 0.96rem;
  width: 0.96rem;
  text-align: center;
  line-height: 0.96rem;
  font-size: 0.8rem;
  border: none;
  background-color: #fff;
}
.number-wrap .number .disabled {
  color: #bbb;
}
